<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Mac Pro</string>
	<key>CFBundleExecutable</key>
	<string>MAPster</string>
	<key>CFBundleIdentifier</key>
	<string>com.uiowa.mapster</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Venkatramanan Krishnamani, Robert C. Piper, Mark Stammnes.</string>
	<key>CFBundleDisplayName</key>
	<string>MAPster β2.4</string>
	<key>CFBundleName</key>
	<string>MAPster β2.4</string>
	<key>CFBundleVersion</key>
	<string>β2.4</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>CFBundleShortVersionString</key>
	<string>β2.4</string>
</dict>
</plist>
